# Configurações da Nuvem (Mega.nz)
MEGA_EMAIL=seu_email@exemplo.com
MEGA_PASSWORD=sua_senha_do_mega

# Configurações do Banco de Dados
DB_NAME=Nome_Do_Seu_Banco
DB_INSTANCE=localhost

# Configurações de Caminhos
# Onde o backup temporário será gerado antes do upload
LOCAL_BACKUP_DIR=./backups